<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yelpcamp Campgrounds</title>
  </head>
  <body>
    <h1>Show single campground</h1>

    <p><%= campground.title %> - <%= campground.id %></p>
    <p><%= campground.location %></p>
    <p><%= campground.description %></p>
    <a href="/campgrounds/<%= campground.id%>/edit">Edit this campground</a>
    <form
      action="/campgrounds/<%= campground.id %>?_method=DELETE"
      method="POST"
    >
      <button>Delete this campground</button>
    </form>

    <a href="/campgrounds">Return to all campgrounds</a>
  </body>
</html>
